@using MediaList.Services.Models

@model MangaViewModel
@{
  ViewData["Title"] = "Book";
}
<h1>@ViewData["Title"] Details</h1>
<hr />
<h2>Book Name</h2>
<p>@Model.Name</p>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" role="button">Edit</a>
<a asp-action="" class="btn btn-primary">Back to List</a>