@using MediaList.Services.Models

@model MangaViewModel
@{
  ViewData["Title"] = "Manga";
}
<h1>Delete @ViewData["Title"]</h1>
<hr />
<h2>Are you sure you want to delete @Model.Name?</h2>

<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Delete</a>
<a asp-action="" class="btn btn-primary">Back to List</a>