@using MediaList.Services.Models

@model MangaViewModel
@{
  ViewData["Title"] = "Manga";
}
<h1>Delete @ViewData["Title"]</h1>
<hr />
<h2>Are you sure you want to delete @Model.Name?</h2>
@using (Html.BeginForm("Delete", "Manga", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="mt-2">
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
        <a asp-action="" class="btn btn-primary">Back to List</a>
    </div>
}